.home {
    font-family: 'Arial', sans-serif;
}

.main-content {
    padding: 0;
    background-color: #ffffff;
    border: none;
}

.content {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
}

.col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding: 0 15px;
}

.col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
}


.sidebar-title {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    padding-top: 0.5rem;
    font-family: Franklin,Arial,Helvetica,sans-serif;
    letter-spacing: .1px;
}

.main-container{
    border: none;
}
.ad-placeholder{
    text-align: center;
    padding-top: 20px;
}
.ad-placeholder-img{
    height: 40vh;
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width: 940px){
    .article-list{
        width: 100% !important;
    }
}