.article-list-container {
  margin: 20px 0;
}

.article-list {
  list-style: none;
  padding: 0;
  border-left: 1px solid rgb(248, 232, 232);
}

.article-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  border-bottom: 2px solid #f8f9fa;
  flex-direction: row-reverse;
  margin-right: 10px;
}

.article-image-list {
  width: 64px;
  height: 64px;
  margin-left: 10px; /* Reduced margin */
}

.article-content-list {
  flex: 1;
}

.article-title {
  margin: 0 0 10px 0;
  font-size: 1.25rem;
  font-family: garamond, serif;
  color: #2A2A2A;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.1;
}

.article-list h1{
  border-top: 1px solid black;
  cursor: pointer;
}
.article-list h1:hover{
  color: gray;
}

.article-title:hover {
  color: grey;
}

.article-cont {
  margin-left: 10px; /* Reduced margin */
}
.article-time{
  color: rgba(89, 89, 89, 1);
  font-size: 0.75rem;
}

