.header-first{
    margin-top:50px;
}

.header-second{
    font-family: georgia, 'Times New Roman', serif;
    font-style: italic;
    color: rgb(89 89 89);
    font-size: 1rem;
    line-height: 1.1;
}

header{
   text-align: center; 
   background-color: #fff;
}
.logo{
    margin-top: 14px;
}
