.latest-articles {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.latest-article {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: row-reverse;
  border-bottom: 1px solid black;
  margin-left: 20px;
}

.article-image {
  width: 31vw; /* Adjusted width */
  height: auto;
  margin-right: 10px; /* Reduced margin */
  margin-bottom: 30px;
}

.article-content {
  flex: 1;
}

/* .article-content h5 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-right: 5px;
} */

.article-author {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: .75rem;
  color: rgba(89, 89, 89, 1);
}

.article-content h5:hover {
  color: grey;
}

.article-link {
  text-decoration: none;
  font-family: 'Playfair Display',Garamond, serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  color: #2A2A2A;
}

.article-link:hover{
  color: rgba(89, 89, 89, 1);
}

.article-excerpt{
  font-family: 'Libre Franklin', sans-serif, Arial, Helvetica;
  color: rgba(89, 89, 89, 1);
  font-weight: 300;
  padding-top: 8px;
}

.article-content .btn {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .latest-article {
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }

  .article-image {
    width: 100%; /* Full width for smaller screens */
    height: auto;
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px;
  }

  .article-content {
    flex: none; /* Remove flex grow */
    width: 100%; /* Full width for smaller screens */
    text-align: center; /* Center text */
  }

  .article-content h5 {
    font-size: 1.25rem; /* Adjust font size if needed */
  }

  .latest-article {
    margin-left: 0; /* Remove left margin */
    align-items: center; /* Center items horizontally */
    border: none;
  }
}