/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}

/* Navigation bar */




/* .navbar .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-left: 10px;
} */



/* .navbar .navbar-toggler, .sidebar-toggler {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
} */

/* .navbar .navbar-toggler-icon, .sidebar-toggler-icon {
    display: inline;
} */







/* Sidebar */
/* .sidebar {
    position: fixed;
    top: 20;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9999;
    padding-top: 60px;
} */


/* .sidebar.open {
    transform: translateX(0);
}

.sidebar .sidebar-toggler {
    position: absolute;
    top: 10px;
    right: -50px;
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 24px;
}

.sidebar .sidebar-nav {
    padding: 20px;
}

.sidebar .nav-item {
    margin: 20px 0;
}

.sidebar .nav-link {
    color: #fff;
}

.sidebar .nav-link:hover {
    color: #ddd;
}

.sidebar .btn-nav {
    color: #fff;
    background-color: transparent;
    border: none;
}

.sidebar .btn-nav:hover {
    color: #ddd;
}
 */