.user-component {
    padding: 20px;
}

.user-articles {
    list-style: none;
    padding: 0;
}

.user-article {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    
}

.user-article h4 {
    margin: 0;
    font-weight: 700 !important;
}

.user-article button, .user-article a {
    margin-right: 10px;
}

.user-component {
    font-family: 'EB Garamond', serif;
    padding: 20px;
    background-color: white;
    margin-left: 10rem;
    margin-right: 10rem;
}

.user-component h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 2rem;
    margin-top: 4rem;
    text-align: center;
}

.user-component h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.user-articles {
    list-style: none;
    padding: 0;
}

.user-article {
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-article h4 {
    font-size: 1.25rem;
    color: #333;
    margin: 0;
}

.user-article h4:hover {
    color: rgba(89, 89, 89, 1);
    /* text-decoration: none; */
}

.user-article button, .user-article a {
    background: none;
    border: none;
    color: #0073e6;
    cursor: pointer;
    font-size: 0.875rem;
    margin-left: 15px;
}


.user-article-actions {
    display: flex;
    align-items: center;
}

