/* Reset default browser styles */
@import 'bootstrap/dist/css/bootstrap.min.css';
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, sans-serif, Franklin;
  line-height: 1.6;
  background-color: #f8f9fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

